/*Fonts styles*/
.fontTitleNormalAboutMe {
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontTitleBoldAboutMe {
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontTitleExtraBoldAboutMe {
    font-family: 'Poppins';
    font-weight: 800;
    color: white;
    font-size: 20px;
}

.fontBodyNormalAboutMe {
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontBodyBoldAboutMe {
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyExtraBoldAboutMe {
    font-family: 'Montserrat';
    font-weight: 800;
    color: white;
    font-size: 20px;
}

@media (max-width: 768px) {
    .fontTitleNormalAboutMe {
        font-size: 17px;
    }

    .fontTitleBoldAboutMe {
        font-size: 17px;
    }

    .fontTitleExtraBoldAboutMe {
        font-size: 17px;
    }

    .fontBodyNormalAboutMe {
        font-size: 17px;
    }

    .fontBodyBoldAboutMe {
        font-size: 17px;
    }

    .fontBodyExtraBoldAboutMe {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .fontTitleNormalAboutMe {
        font-size: 15px;
    }

    .fontTitleBoldAboutMe {
        font-size: 15px;
    }

    .fontTitleExtraBoldAboutMe {
        font-size: 15px;
    }

    .fontBodyNormalAboutMe {
        font-size: 15px;
    }

    .fontBodyBoldAboutMe {
        font-size: 15px;
    }

    .fontBodyExtraBoldAboutMe {
        font-size: 15px;
    }
}

/*Screen styles*/
.aboutme {
    position: relative;
    min-Height: 103vh;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.aboutme-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.aboutme-title {
    padding-left: 150px;
    padding-right: 25px;
    padding-top: 100px;
    padding-bottom: 45px;
    z-index: 0;
    color: white;
    font-family: "Poppins";
    font-weight: 800;
    font-size: 40px;
}

.overview-aboutme {
    background-color: rgba(26, 26, 26, 0.7);
    z-index: 0;
    border-radius: 10px;
    width: 45%;
    padding: 25px 25px 0 25px;
}

.typewriterWrapper {
    font-family: "Montserrat";
    font-size: 20px;
    color: #47CDD6;
    font-weight: 700;
}

.typewriterCursor {
    font-family: "Montserrat";
    font-size: 20px;
    color: #47CDD6;
}

.img-astro-aboutme {
    height: 350px;
    width: 300px;
    z-index: 0;
    position: relative;
    animation: bounce 6s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(30px);
    }
}

/* Pour tablettes
@media screen and (max-width: 768px) {
    .aboutme {
        flex-direction: column;
        align-items: flex-start;
    }

    .overview-aboutme {
        width: 100%;
        max-height: none;
    }

    .overview-aboutme h1 {
        font-size: 40px;
    }

    .overview-aboutme p {
        font-size: 20px;
    }

    .img-astro-aboutme {
        height: 250px;
        width: 200px;
    }
}*/

/* Pour mobiles
@media screen and (max-width: 480px) {
    .aboutme {
        flex-direction: column;
        align-items: flex-start;
    }

    .overview-aboutme {
        width: 100%;
        max-height: none;
    }

    .overview-aboutme h1 {
        font-size: 30px;
    }

    .overview-aboutme p {
        font-size: 16px;
    }

    .img-astro-aboutme {
        height: 200px;
        width: 150px;
    }
} */