.alert-title {
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
}

.alert-container {
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 20px;
}

.swal2-container {
    backdrop-filter: blur(10px);
}