.contactme-title {
    top: 0;
    left: 0;
    color: white;
    font-size: 55px;
    font-weight: bold;
    padding-left: 150px;
    padding-right: 25px;
    padding-top: 30px;
}

.contactme-content {
    display: flex;
    gap: 10px;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px) {
    .contactme-content {
        margin-top: 12px;
        flex-direction: row;
    }
}

.input {
    background-color: #2a2a2a;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.input::placeholder {
    color: grey;
}

.submit {
    background-color: #1A1B1B;
    padding: 0.75rem 2rem;
    border-radius: 0.75rem;
    border: 0.1rem solid #47CDD6;
    outline: none;
    width: fit-content;
    color: white;
    font-size: 23px;
    font-weight: bold;
    align-self: center;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #47CDD6
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
}

.static-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
}

.animated-image {
    position: absolute;
    top: 50%;
    left: -25%;
    width: 120px;
    height: 120px;
    opacity: 0;
    animation: slide-in-out 5s linear infinite, up-and-down 2s ease-in-out infinite;
}

@keyframes slide-in-out {
    0% {
        left: -5%;
        transform: translateY(-50%);
        opacity: 1;
    }

    30% {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    55% {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    85% {
        left: 80%;
        transform: translateY(-50%, -50%);
        opacity: 1;
    }

    100% {
        left: 100%;
        transform: translateY(-50%, -50%);
        opacity: 0;
    }
}

@keyframes up-and-down {

    0%,
    100% {
        transform: translateY(-70%);
    }

    50% {
        transform: translateY(-30%);
    }
}