.loading-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #02020D;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
}

.loading-screen img {
    max-width: 400px;
    margin-bottom: 20px;
}

.loading-screen div {
    font-size: 33px;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    color: white;
}

.ellipsis>div {
    width: 0.3em;
    height: 0.3em;
    margin-right: .2em;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    animation: blink 1.4s infinite;
}

.ellipsis>div:nth-child(1) {
    animation-delay: .2s;
}

.ellipsis>div:nth-child(2) {
    animation-delay: .4s;
}

.ellipsis>div:nth-child(3) {
    animation-delay: .6s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 481px) and (max-width: 824px),
(min-height: 501px) and (max-height: 700px) {
    .loading-screen img {
        max-width: 300px;
        margin-bottom: 15px;
    }

    .loading-screen div {
        font-size: 24px;
    }
}

@media (max-width: 480px),
(max-height: 500px) {
    .loading-screen img {
        max-width: 200px;
        margin-bottom: 10px;
    }

    .loading-screen div {
        font-size: 18px;
    }
}