.sectionSpan {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.sectionSpan.default {
    color: white;
}

.sectionSpan.default:hover {
    color: #47CDD6;
}

.sectionSpan.active {
    color: #47CDD6;
}

progress {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border: none;
    background: transparent;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background-color: #47CDD6;
}

progress::-moz-progress-bar {
    background: #47CDD6;
}