/*Fonts styles*/
.fontTitleNormalProjects {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontTitleBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontTitleExtraBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyNormalProjects {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontBodyBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyExtraBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

/*Screen styles*/
.projects {
    display: flex;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
    flex-direction: column;
}

.projects-content-pro {
    padding-top: 69px;
}

.projects-content-perso {
    padding-top: 69px;
    padding-bottom: 20px;
}

.projects-title {
    z-index: 0;
    margin: 60px 6% 40px 6%;
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.projects-title p {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin: 0;
}

.container-caroussel {
    display: flex;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
    min-height: 500px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-arrow-icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon-hover {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.arrow-icon-hover:hover {
    background-color: rgba(71, 205, 214, 0.3)
}

.arrow-icon-hover-mobile {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(71, 205, 214, 0.3);
    z-index: 1;
}

.arrow-icon {
    height: 35px;
    width: 35px;
    color: white;
}

.container-slides {
    width: 50%;
    z-index: 0;
}

.slide {
    position: relative;
    display: flex;
    height: 450px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.content-slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    flex-direction: column;
}

.content-slide:hover {
    opacity: 1;
}

.content-slide h2 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
    color: white;
    margin: 30px 15px 15px 15px;
}

.content-slide p {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 15px 15px 30px 15px;
    overflow: hidden;
}

.content-slide-mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.5);
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    flex-direction: column;
}

.content-slide-mobile h2 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
    color: white;
    margin: 30px 15px 15px 15px;
}

.content-slide-mobile p {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 15px 15px 30px 15px;
    overflow: hidden;
}

@media (min-width: 481px) and (max-width: 824px) {
    .fontTitleNormalProjects {
        font-size: 17px;
    }

    .fontTitleBoldProjects {
        font-size: 17px;
    }

    .fontTitleExtraBoldProjects {
        font-size: 17px;
    }

    .fontBodyNormalProjects {
        font-size: 17px;
    }

    .fontBodyBoldProjects {
        font-size: 17px;
    }

    .fontBodyExtraBoldProjects {
        font-size: 17px;
    }

    .projects-title {
        margin: 50px 6% 40px 6%;
        font-size: 32.5px;
    }

    .projects-title p {
        font-size: 17px;
    }

    .container-caroussel {
        min-height: 550px;
    }

    .arrow-icon-hover {
        height: 45px;
        width: 45px;
    }

    .arrow-icon-hover-mobile {
        height: 45px;
        width: 45px;
    }

    .arrow-icon {
        height: 25px;
        width: 25px;
    }

    .container-slides {
        width: 65%;
    }

    .slide {
        height: 400px;
        width: 350px;
    }

    .content-slide h2 {
        font-size: 20px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide p {
        font-size: 17px;
        margin: 10px 10px 20px 10px;
    }

    .content-slide-mobile h2 {
        font-size: 20px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide-mobile p {
        font-size: 17px;
        margin: 10px 10px 20px 10px;
    }
}

@media (min-width: 371px) and (max-width: 480px) {
    .fontTitleNormalProjects {
        font-size: 15px;
    }

    .fontTitleBoldProjects {
        font-size: 15px;
    }

    .fontTitleExtraBoldProjects {
        font-size: 15px;
    }

    .fontBodyNormalProjects {
        font-size: 15px;
    }

    .fontBodyBoldProjects {
        font-size: 15px;
    }

    .fontBodyExtraBoldProjects {
        font-size: 15px;
    }

    .projects-title {
        margin: 40px 6% 40px 6%;
        font-size: 25px;
    }

    .projects-title p {
        font-size: 15px;
    }

    .container-caroussel {
        min-height: 275px;
    }

    .arrow-icon-hover {
        height: 40px;
        width: 40px;
    }

    .arrow-icon-hover-mobile {
        height: 40px;
        width: 40px;
    }

    .arrow-icon {
        height: 20px;
        width: 20px;
    }

    .container-slides {
        width: 80%;
    }

    .slide {
        height: 225px;
        width: 250px;
    }

    .content-slide h2 {
        font-size: 18px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide p {
        font-size: 15px;
        margin: 10px 10px 20px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content-slide-mobile h2 {
        font-size: 18px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide-mobile p {
        font-size: 15px;
        margin: 10px 10px 20px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (max-width: 370px) {
    .fontTitleNormalProjects {
        font-size: 12px;
    }

    .fontTitleBoldProjects {
        font-size: 12px;
    }

    .fontTitleExtraBoldProjects {
        font-size: 12px;
    }

    .fontBodyNormalProjects {
        font-size: 12px;
    }

    .fontBodyBoldProjects {
        font-size: 12px;
    }

    .fontBodyExtraBoldProjects {
        font-size: 12px;
    }

    .projects-title {
        margin: 40px 6% 40px 6%;
        font-size: 22px;
    }

    .projects-title p {
        font-size: 12px;
    }

    .container-caroussel {
        min-height: 250px;
    }

    .arrow-icon-hover {
        height: 30px;
        width: 30px;
    }

    .arrow-icon-hover-mobile {
        height: 30px;
        width: 30px;
    }

    .arrow-icon {
        height: 15px;
        width: 15px;
    }

    .container-slides {
        width: 80%;
    }

    .slide {
        height: 200px;
        width: 200px;
    }

    .content-slide h2 {
        font-size: 15px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide p {
        font-size: 12px;
        margin: 10px 10px 20px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content-slide-mobile h2 {
        font-size: 15px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide-mobile p {
        font-size: 12px;
        margin: 10px 10px 20px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}