.projects-title {
    top: 0;
    left: 0;
    padding-left: 150px;
    padding-right: 25px;
    padding-top: 30px;
}


.swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 35vw;
    height: 350px;
    margin-top: 50px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #47CDD6;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}