.skills {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.skills-content {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.skills-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 55px;
  font-weight: bold;
  padding-left: 150px;
  padding-right: 25px;
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-left {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-left-midle {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.circle {
  width: 30%;
  height: 30%;
  background: rgba(71, 205, 214, 0.7);
  border-radius: 60%;
  filter: blur(100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-middle {
  width: 35%;
}

.container-in-middle {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-in-in-midle {
  display: flex;
  margin: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 26, 26, 0.7);
  border-radius: 10px;
  margin-top: 70px;
  height: 300px;
  color: white;
}