/*Fonts styles*/
.fontTitleNormalSkills {
  font-family: 'Poppins';
  font-weight: 400;
  color: white;
  font-size: 20px;
}

.fontTitleBoldSkills {
  font-family: 'Poppins';
  font-weight: 700;
  color: white;
  font-size: 20px;
}

.fontTitleExtraBoldSkills {
  font-family: 'Poppins';
  font-weight: 800;
  color: white;
  font-size: 20px;
}

.fontBodyNormalSkills {
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
  font-size: 20px;
}

.fontBodyBoldSkills {
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
  font-size: 20px;
}

.fontBodyExtraBoldSkills {
  font-family: 'Montserrat';
  font-weight: 800;
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  .fontTitleNormalSkills {
    font-size: 17px;
  }

  .fontTitleBoldSkills {
    font-size: 17px;
  }

  .fontTitleExtraBoldSkills {
    font-size: 17px;
  }

  .fontBodyNormalSkills {
    font-size: 17px;
  }

  .fontBodyBoldSkills {
    font-size: 17px;
  }

  .fontBodyExtraBoldSkills {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .fontTitleNormalSkills {
    font-size: 15px;
  }

  .fontTitleBoldSkills {
    font-size: 15px;
  }

  .fontTitleExtraBoldSkills {
    font-size: 15px;
  }

  .fontBodyNormalSkills {
    font-size: 15px;
  }

  .fontBodyBoldSkills {
    font-size: 15px;
  }

  .fontBodyExtraBoldSkills {
    font-size: 15px;
  }
}

/*Screen styles*/
.skills {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 69px;
}

.skills-content {
  display: flex;
  width: 100%;
  /* margin: 0 6% 20px 6%; */
}

.skills-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 60px 6% 40px 6%;
  color: white;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 40px;
}

.skills-title p {
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
  font-size: 20px;
  margin: 0;
}

.container-left {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-left-midle {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.circle {
  width: 30%;
  height: 30%;
  background: rgba(71, 205, 214, 0.7);
  border-radius: 60%;
  filter: blur(100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-middle {
  width: 50%;
}

.container-in-middle {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-in-in-midle {
  display: flex;
  margin: 50px;
  width: 100%;
  background-color: rgba(26, 26, 26, 1);
  border-radius: 10px;
  margin-top: 140px;
  color: white;
  flex-direction: column;
  overflow: auto;
  padding: 20px;
}

.tagcloud-skill {
  font-family: 'Poppins';
  font-weight: 700;
  color: white;
  font-size: 23px;
}

@media (max-width: 1000px),
(max-height: 600px) {
  .skills-content {
    flex-direction: column;
  }

  .container-left {
    position: relative;
    width: 100%;
    height: auto;
  }

  .container-middle {
    width: 100%;
  }

  .container-in-middle {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}